<!doctype html>
<html lang="en">

{% include 'templates/head.tmpl' %}

<body>
{% include 'templates/header.tmpl' %}

<main>
    <h1>это Главная!</h1>
    <h2>Добро пожаловать&nbsp;{{ name_user }}!</h2>
</main>

{% include 'templates/footer.tmpl' %}
</body>
</html>