<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <script defer src="/public/js/{{ js }}.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>

{% include 'header.tmpl' %}

<main>
    <div class="products">
        {% for image in images %}

        <div class="product__item" id="{{ image.id_gallery }}">
            <div class="product_image_div">
                <img src="/{{ image.src_gallery }}" class="product_image">
            </div>
            <p class="product_content">Название: {{ image.title_gallery }}</p>
        </div>

        {% endfor %}
    </div>
</main>

{% include 'footer.tmpl' %}

</body>
</html>