<!doctype html>
<html lang="en">

{% include 'head.tmpl' %}

<body>

{% include 'header.tmpl' %}

<main>
    <img src="/{{ image.src_gallery }}">
    <p>Название: {{ image.title_gallery }} </p>
</main>

{% include 'footer.tmpl' %}

</body>
</html>