<!doctype html>
<html lang="en">

{% include 'head.tmpl' %}

<body>

{% include 'header.tmpl' %}

<main>
    <div class="products">
        {% include 'gallery_images.tmpl' %}
    </div>
</main>

{% include 'footer.tmpl' %}

</body>
</html>