<!doctype html>
<html lang="en">
{% include 'head.tmpl' %}
<body>
{% include 'header.tmpl' %}
<main>
    <form method="post">
        <img src="{{ product.src_big_goods }}">
        <h2>Название: {{ product.title_goods }}</h2>
        <p class="product_content">Описание: {{ product.description_goods }}</p>
        <p class="product_content">Цена: {{ product.price_goods }}</p>
        <input type="hidden" name="id_goods" value="{{ product.id_goods }}">
        <input type="number" name="quantity" placeholder="Количество">
        <input type="submit" value="В корзину">
        <p class="product_content answer"> Возможность добавлять товары в корзину появится чуть позже =) </p>
    </form>
</main>
{% include 'footer.tmpl' %}
</body>
</html>