<!doctype html>
<html lang="en">
{% include 'head.tmpl' %}
<body>
{% include 'header.tmpl' %}
<main>
    {% include 'goods_item.tmpl' %}

    {% if more == true %}
    <div class="center">
        <button class="menu__link">ещё</button>
        <p class="product_content answer"></p>
    </div>
    {% endif %}

</main>
{% include 'footer.tmpl' %}
</body>
</html>
