<header>
    <nav>
        <ul class="menu">

            {% for menu_item in menu %}

            <a href="{{ menu_item.src }}" class="menu__link">{{ menu_item.title }}</a>

            {% endfor %}

        </ul>
    </nav>
</header>