<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
{% include 'header.tmpl' %}

<main>
    <h1>это Главная!</h1>
    <h2>{{ some }}</h2>
<!--    <img src="/public/img/gallery/24b364b4b3cdc4ce620f181367d2aa35.jpg" alt="">-->
<!--    <img src="/public/img/gallery/24b364b4b3cdc4ce620f181367d2aa35.jpg" alt="">-->
</main>

{% include 'footer.tmpl' %}
</body>
</html>