<!doctype html>
<html lang="en">

{% include 'head.tmpl' %}

<body>
{% include 'header.tmpl' %}

<main>
    <h1>это Главная!</h1>
    <h2>{{ some }}</h2>
</main>

{% include 'footer.tmpl' %}
</body>
</html>