<!doctype html>
<html lang="en">

{% include 'templates/head.tmpl' %}

<body>

{% include 'templates/header.tmpl' %}

<main>
    <div class="products">
        {% include 'gallery/gallery_item.tmpl' %}
    </div>
</main>

{% include 'templates/footer.tmpl' %}

</body>
</html>